* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}

/* HEADER */
header {
  background: #0d1b2a;
  color: white;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.brand {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.brand-logo {
  margin-right: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.active {
  color: #00b4d8;
}

/* BUTTON */
button {
  padding: 10px;
  border: none;
  background: #00b4d8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
}

/* INPUT */
input {
  padding: 10px;
  margin: 10px;
  width: 70%;
}

/* LIST */
ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

/* DELETE */
.delete {
  color: red;
  cursor: pointer;
}

/* DARK MODE */
.dark {
  background: #1b263b;
  color: white;
}

.dark li {
  background: #415a77;
}